$transition-timing: cubic-bezier(0.76, 0, 0.24, 1);

@mixin link-underline($color: inherit) {
  overflow: hidden;
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }

  &::before {
    background-color: $color;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s $transition-timing;
  }

  &::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s $transition-timing;
    color: $color;
  }

  &:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  &:hover::after {
    transform: translate3d(0, 0, 0);
  }

  span {
    display: inline-block;
    transition: transform 0.3s $transition-timing;
  }

  &:hover span {
    transform: translate3d(-200%, 0, 0);
  }
}