@import "../../../scss/partials/displays.scss";

body {
    background-color: #F4F5FA;
    overflow-x: hidden;
    z-index: -1;
}

.mask {
    position: fixed;
    bottom: 0;
    z-index: -1;
    width: 100%;
    @include md {
        height: 120px;
    }
}

.plant1 {
    z-index: -1;
    position: fixed;
    bottom: 0;
}

.plant2 {
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
}