@import "../../../scss/partials/displays";

.products-container {
    margin: 50px 0;
    @include md {
        margin: 75px 0;
    }
    .sec-heading {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        @include md {
            margin-bottom: 35px;
            font-size: 24px;
        }
        // &:after {
        //     content: "";
        //     display: block;
        //     margin-top: 5px;
        //     width: 50px;
        //     height: 3px;
        //     background-color: #8e2de2;
        //     @include md {
        //         margin-top: 10px;
        //     }
        // }
    }
    .products {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        @include md {
            gap: 20px;
        }
    }
}
$transition-timing: cubic-bezier(0.76, 0, 0.24, 1);

a {
  overflow: hidden;
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }

  &::before {
    background-color:black;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s $transition-timing;
  }

  &::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s $transition-timing;
    color: black;
  }

  &:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  &:hover::after {
    transform: translate3d(0, 0, 0);
  }

  span {
    display: inline-block;
    transition: transform 0.3s $transition-timing;
  }

  &:hover span {
    transform: translate3d(-200%, 0, 0);
  }

  // Presentational Styles
  body {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    line-height: 1.5;
    height: 100vh;
    place-items: center;
  }

  text-decoration: none;
  color: #18272F;
  font-weight: 700;
  vertical-align: top;
}