
.main-content .layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;
}

/* Media query for medium screens */
@media only screen and (min-width: 768px) {
    .main-content .layout {
        max-width: 1200px;
    }
}
