@import "./partials/animations";

.flex-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    text-align: center;
}

.link-underline-animation {
    @include link-underline($color: #836CE0)
}